body{
    max-width: 1440px;
    width: 100%;
    margin:auto;
}

.start_page{ 

    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 112px;
}

.left_start{
    display:flex;
    align-items: center;
    gap:32px;
}

.logo{
    display: flex;
    justify-content: left;
    width: 128px;
    height: 32px;
}

.logo1{
    background-image: url(Logo.svg);
    width: 32px;
    height: 32px;
    margin-right: 10.51px;
}

.logo2{
    position: relative;
    background-image: url(Landify.svg);
    width: 77.35px;
    height: 21.132px;
    margin-top:7.45px;
}

.logo3{
    position: absolute;
    background-image: url(TM.svg);
    width: 7.662px;
    height: 4.2px;
    top:-2.65px;
    right: -7.87223px;
}

.nav_group{
    display: flex;
    align-items: center;
    gap:8px;
}

.nav_item{
    display: flex;
    padding: 4px 8px;
    box-sizing: border-box;
    align-items: center;
    gap: 4px;
    
}

.text_nav{
    color: var(--Neutral-900, #111827);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}

.app_group{
    display:flex;
    align-items: center;
    gap:12px;
}
.app_google{
    background-image: url(Bg.svg);
    display: flex;
    width: 135px;
    height: 40px;
}
.app_google2{
    background-image: url(Bg.svg);
    display: flex;
    width: 135px;
    height: 40px;
}

.google_logo{
    background-image: url(Google_logo.svg);
    margin-left: 9.97px;
    margin-top:7.17px;
    margin-right: 7.98px;
    width: 23.094px;
    height: 25.739px;
}

.google_text{
    background-image: url(Text.svg);
    margin-top: 6.87px;
    width: 84.777px;
    height: 27.211px;
}

.app_store{
    background-image: url(Bg.svg);
    display: flex;
    width: 135px;
    height: 40px;
}
.app_store2{
    background-image: url(Bg.svg);
    display: flex;
    width: 135px;
    height: 40px;
}

.apple_logo{
    background-image: url(Apple_logo.svg);
    margin-left: 18px;
    margin-top:8.72px;
    margin-right: 6.74px;
    width: 17.717px;
    height: 21.776px;
}

.apple_text{
    background-image: url(Apple_text.svg);
    margin-top: 8.44px;
    width: 75.061px;
    height: 25.054px;
}

.menu_icon{
    display:none;
}

.first_blok_container{
    margin:72px 112px 74px 112px;
    display:flex;
    justify-content: space-between;
    align-items: start;
    /* gap: 32px; */
}

.first_blok_contant{
    max-width: 696px;
    padding: 96px 48px 0px 0px;
    display: flex;
    flex-direction: column;
    gap:32px;

}

.first_page_header{
    max-width:648px;
    /* min-height: 144px; */
    color: var(--Neutral-900, #111827);
    font-feature-settings: 'liga' off;
    /* Display xl/Bold */
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; /* 120% */
    letter-spacing: -1.5px;
}

.first_page_text{
    max-width:648px;
    /* min-height: 56px; */
    color: var(--Neutral-700, #374151);
    font-feature-settings: 'liga' off;
    /* Body lg/Regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    margin-top:16px;
}

.first_blok_buttons{
    display:flex;
    align-items: center;
    gap: 16px;

}


button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--Primary-600, #7C3AED); 
    color:#fff;
    color: var(--White, #FFF);
}
button:focus{
    border:1px dashed #7C3AED;
}


.buttons_text{
    text-align: center;
    font-feature-settings: 'liga' off;

    /* Body md/SemiBold */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}

.button_start{
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
}
.button_start:focus{
    border:1px solid #7C3AED;
    border-radius: 1px;
}
.button_video{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    background: #fff;
    border:none;

}

.button_video_text{
    display:flex;
    align-items: center;
    gap:8px;
}

.button_icon{
    width:24px;
    height: 24px;
    background-image:url(Icon.svg);
}

.button_text_watch{
    color: var(--Primary-600, #7C3AED);
    text-align: center;
    font-feature-settings: 'liga' off;

    /* Body md/SemiBold */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}

.first_blok_mobile{
    display: flex;
    max-width: 488px;
    height: 640px;
    padding: 0px 84px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.mobile_png{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 320px;
    height: 640px;
    background: url(iPhoneX.png);
    background-repeat: no-repeat;
}

.screen{
    width: 279.07px;
    height: 604.279px;
    background: url(Screen.png);
    border-radius: 30px;
}
.second_blok{
    max-width:1440px;
    padding: 16px 112px;
}

.logo_contaners{
    max-width: 1216px;
    border-width: 1px 1px 1px 1px;
    border-style:solid none solid none;
    border-color:#E5E7EB #E5E7EB #E5E7EB #E5E7EB;
    padding: 24px 0px;
}


.second_page_logos{
    display: flex;
    padding: 16px 0px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px 64px;

}
.log_airbnt{
    background-image: url(airbnt_logo.svg);
    width: 90px;
    height: 28px;
}
.log_hubspot{
    background-image: url(hubspot_logo.svg);
    width: 86px;
    height: 24.009px;
}
.log_google{
    background-image: url(google_logo2.svg);
    width: 84px;
    height: 28px;
}
.log_Microsoft{
    background-image: url(microsoft_logo.svg);
    width: 122px;
    height: 26px;
}
.log_Walmart{
    background-image: url(walmart_logo.svg);
    width: 112px;
    height: 26px;
}
.log_FedEd{
    background-image: url(FedEx_logo.svg);
    width: 79.901px;
    height: 24.127px;
}
.trird_block{
    padding: 96px 112px;
    
}
.second_heading{
    margin: auto;
    max-width: 800px;
}
.second_big_text{
    
    color: var(--Neutral-900, #111827);
    text-align: center;
    font-feature-settings: 'liga' off;

    /* Display lg / Bold */
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    letter-spacing: -1.2px;
}
.second_small_text{
    margin-top: 8px;
    color: var(--Neutral-900, #111827);
    text-align: center;
    font-feature-settings: 'liga' off;
    /* Body lg / Regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}
.trird_block_container{
    margin-top: 64px;
    display: grid;
    /* grid-template-columns: 384px 384px 384px;
    grid-template-rows:152px 152px; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 64px;
    min-height: 368px;
}
.trird_block_item{
    max-width: 384px;

}
.trird_block_text{
    margin-top: 24px;
    padding: 0px 16px;

}
.trird_block_header{
    color: var(--Neutral-900, #111827);
    text-align: center;
    font-feature-settings: 'liga' off;

    /* Display sm / Bold */
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 133.333% */
}
.trird_block_small_text{
    margin-top:8px;
    color: var(--Neutral-700, #374151);
    text-align: center;
    font-feature-settings: 'liga' off;

    /* Body md / Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.robust_icon{
    margin: auto;
    width: 32px;
    height: 32px;
    background-image: url(robust_icon.svg);
}
.flexibility_icon{
    margin: auto;
    width: 32px;
    height: 32px;
    background-image: url(flexibility_icon.svg);
}
.friendly_icon{
    margin: auto;
    width: 32px;
    height: 32px;
    background-image: url(Friendly_icon.svg);
}
.Multiple_icon{
    margin: auto;
    width: 32px;
    height: 32px;
    background-image: url(Multiple_icon.svg);
}
.better_icon{
    margin: auto;
    width: 32px;
    height: 32px;
    background-image: url(better_icon.svg);
}
.organizes_icon{
    margin: auto;
    width: 32px;
    height: 32px;
    background-image: url(organized_icon.svg);
}

.fourth_block{
    min-height: 892px;
    background: var(--Secondary-100, #D5FAFC);
    border-top: 1px solid transparent;

}
.real_story{
    margin-top: 120px;
    margin-left: 216px;
    max-width: 488px;
}
.real_header{
    color: var(--Neutral-900, #111827);
    font-feature-settings: 'liga' off;

    /* Display lg / Bold */
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    letter-spacing: -1.2px;
}
.real_text{
    margin-top: 8px;
    color: var(--Neutral-900, #111827);
    font-feature-settings: 'liga' off;

    /* Body lg / Regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}

.airbnb_store{
    margin-top:-82px;
    margin-left:736px;
    padding: 32px 32px 32px 32px;
    background: var(--White, #FFF);
    max-width: 488px;
    box-sizing: border-box;
}
.client_logo_airbnb{
    width: 112px;
    height: 32px;
    background-image: url(airbnb_logo2.svg);
}
.content_airbnt{
    margin-top: 32px;
    display:flex;
    gap:16px;
    /* max-width: 424px; */
}
.mark_content{
    min-width: 16px;
    min-height: 13px;
    background-repeat: no-repeat;
    background-image: url(mark_logo.svg);
}
.content_airbnt_text{
    max-width: 392px;
}
.airbnt_text{
    color: var(--Neutral-900, #111827);
    font-feature-settings: 'liga' off;
    /* Body lg / Regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}
.personal_details{
    margin-top:24px;
}
.name_airbnb{
    color: var(--Neutral-900, #111827);
    font-feature-settings: 'liga' off;
    /* Body lg / Bold */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
}
.text_ceo{
    color: var(--Neutral-500, #6B7280);
    font-feature-settings: 'liga' off;
    /* Body sm / Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.hubspot_item{
    background: var(--White, #FFF);
    padding:32px 32px;
    margin-top: -168px;
    margin-left:320px;
    max-width: 384px;
    box-sizing: border-box;
}
.client_logo_hubspot{
    width: 112px;
    height: 32.012px;
    background-image: url(hubspot_logo2.svg);
}
.content_hubspot{
    display:flex;
    gap:16px;
    margin-top:32px;
}

.hubspot_text{
    max-width: 288px;
    color: var(--Neutral-900, #111827);
    font-feature-settings: 'liga' off;

    /* Body lg / Regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}
.hubspot_details{
    margin-top:24px;
}
.hubspot_name{
    color: var(--Neutral-900, #111827);
    font-feature-settings: 'liga' off;
    /* Body lg / Bold */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */

}
.text_gopro{
    color: var(--Neutral-500, #6B7280);
    font-feature-settings: 'liga' off;
    /* Body sm / Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.strapi_item{
    max-width: 384px;
    margin-top:-196px;
    margin-left:736px;
    padding: 32px 32px;
    box-sizing: border-box;
    background: var(--White, #FFF);
}
.strapi_logo{
    width: 112px;
    height: 32px;
    background-image: url(strapi_logo.svg);
}
.strapi_content{
    margin-top:32px;
    display:flex;
    gap:16px;
}
.strapi_content_text{
    max-width: 288px;
}
.strapi_text{
    color: var(--Neutral-900, #111827);
    font-feature-settings: 'liga' off;

    /* Body lg / Regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}
.strapi_name{
    color: var(--Neutral-900, #111827);
    font-feature-settings: 'liga' off;

    /* Body lg / Bold */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
}

.strapi_co{
    color: var(--Neutral-500, #6B7280);
    font-feature-settings: 'liga' off;

    /* Body sm / Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.fifth_block{
    max-width: 1440px;
    padding: 80px 112px;
    display:flex;
    gap:32px;
}
.fifth_block_text{
    max-width: 592px;
}
.fifth_header{
    color: var(--Neutral-900, #111827);
    font-feature-settings: 'liga' off;

    /* Display lg / Bold */
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    letter-spacing: -1.2px;
}
.fifth_text{
    margin-top: 8px;
    color: var(--Neutral-900, #111827);
    font-feature-settings: 'liga' off;

    /* Body lg / Regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}
.fifth_order{
    max-width: 592px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 32px;
    row-gap: 40px;
    min-height: 178px;
}
.item_fifth{
    min-width: 280px;
    display: flex;
    align-items: center;
    gap:16px;
}
.information_header{
    color: var(--Neutral-900, #111827);
    font-feature-settings: 'liga' off;

    /* Display md/Bold */
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; /* 125% */
    letter-spacing: -0.9px;
}
.information_text{
    color: var(--Neutral-900, #111827);
    font-feature-settings: 'liga' off;
    /* Body md / Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.icon_first{
    margin: 8px;
    width: 32px;
    height: 32px;
    background-image: url(icon_first.svg);
}
.icon_second{
    margin: 8px;
    width: 32px;
    height: 32px;
    background-image: url(icon_second.svg);
}
.icon_trirth{
    margin: 8px;
    width: 32px;
    height: 32px;
    background-image: url(icon_thirdth.svg);
}
.icon_fourth{
    margin: 8px;
    width: 32px;
    height: 32px;
    background-image: url(icon_fourth.svg);
}

.sixth_block{
    max-width: 1440px;
    padding: 80px 112px;
}
.sixth_block_border{
    display:flex;
    gap:32px;
    border-width: 1px 1px 1px 1px;
    border-style: solid none none none;
    border-color: #F3F4F6 #F3F4F6 #F3F4F6 #F3F4F6;
}
.sixth_block_content{
    max-width: 488px;
    padding:40px 0px;
}
.sixth_header{
    color: var(--Neutral-900, #111827);
    font-feature-settings: 'liga' off;

    /* Display lg/Bold */
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    letter-spacing: -1.2px;
}
.sixth_text{
    margin-top: 8px;
    color: var(--Neutral-900, #111827);
    font-feature-settings: 'liga' off;

    /* Body lg / Regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}
.sixth_logos{
    max-width: 696px;
    margin: auto;
}
.circle{
    width: 540px;
    position:relative;
}
#circle2{
    display: none;
}
.logo_one{
    position:absolute;
    width: 64px;
    height: 64px;
    background-image: url(Logo_one.svg);
    left:46px;
    top:40px;
}
.logo_two{
    position:absolute;
    width: 64px;
    height: 64px;
    background-image: url(Logo_1.svg);
    left:174px;
    top:40px;
}
.logo_tree{
    position:absolute;
    width: 64px;
    height: 64px;
    background-image: url(Logo_2.svg);
    left:302px;
    top:40px; 
}
.logo_four{
    position:absolute;
    width: 64px;
    height: 64px;
    background-image: url(Logo_3.svg);
    left:430px;
    top:40px;
}
.logo_five{
    position:absolute;
    width: 64px;
    height: 64px;
    background-image: url(Logo_4.svg);
    left:110px;
    top:168px;
}
.logo_six{
    position:absolute;
    width: 64px;
    height: 64px;
    background-image: url(Logo_5.svg);
    left:238px;
    top:168px;
}
.logo_seven{
    position:absolute;
    width: 64px;
    height: 64px;
    background-image: url(Logo_6.svg);
    left:366px;
    top:168px;

}
.seventh_block{
    padding:0px 112px;
    display: flex;
    /* gap:32px; */
    justify-content: space-between;
    background: var(--Secondary-600, #1DB5BE);
}
.seventh_content{
    margin:auto;
    max-width:592px;
}
.seventh_header{
    color: var(--Neutral-900, #111827);
    font-feature-settings: 'liga' off;

    /* Display lg / Bold */
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    letter-spacing: -1.2px;
}
.seventh_text{
    margin-top:8px;
    color: var(--Neutral-900, #111827);
    font-feature-settings: 'liga' off;

    /* Body lg / Regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}
.get_app{
    margin-top:48px;
}
.get_text{
    color: var(--Neutral-900, #111827);
    font-feature-settings: 'liga' off;

    /* Body lg / Medium */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
    margin-bottom: 8px;
}
.seventh_mobile{
    border:1px solid transparent;
    width: 592px;
    height: 558px;
    
}
.mobile_1{
    background-image: url(Screen_1.png);
    background-repeat: no-repeat;
    width: 202.326px;
    height: 438.102px;
    margin-left:63.11px;
    position: relative;
}
.iPhone_1{
    background-image: url(iPhoneX_1.png);
    width: 232px;
    height: 464px;
    background-repeat: no-repeat;
    position: absolute;
    left:-15.11px;
}

.mobile_2{
    background-image: url(Screen_2.png);
    background-repeat: no-repeat;
    width: 202.326px;
    height: 438.102px;
    right: 0px;
    margin-right:63.11px;
    /* margin-left: 327.11px; */
    margin-left: auto;
    margin-top: -249.53px;
    position:relative;
}
.iPhone_2{
    background-image: url(iPhoneX_2.png);
    width: 232px;
    height: 464px;
    background-repeat: no-repeat;
    position: absolute;
    left:-15.11px;
    top:-14.03px;
}
footer{
    padding:64px 112px;
    display: flex;
    max-width: 1440px;
    justify-content: space-between;
    background: var(--Black, #000);
    
}
.info_card{
    width:423px;
    height: 160px;
}
.logo_cite{
    background-image: url(Logo.svg);
    width: 32px;
    height: 32px;
}
.items_footer_1{
    margin-top:24px;
    display:flex;
    gap:24px;
}
.footer_text{
    color: var(--White, #FFF);
    font-feature-settings: 'liga' off;

    /* Body md / Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.items_footer_2{
    margin-top:12px;
    display:flex;
    flex-wrap: wrap;
    gap:12px 24px;
}
.end{
    margin-top:24px;
    color: var(--Neutral-300, #D1D5DB);
    font-feature-settings: 'liga' off;
    /* Body sm / Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */

}
.get_the_app{
    width: 176px;
    height: 140px;
}
.get_text2{
    color: var(--Neutral-300, #D1D5DB);
    font-feature-settings: 'liga' off;
    /* Body lg / Medium */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}
.border2{
    margin-top:24px;
}

/* Версия для планшетов */
@media (max-width:1439px) {
    .start_page{
        padding: 20px 40px;
    }
    .nav_group{
        display:none;
    }
    .menu_icon{
        margin-left:4px;
        margin: 8px;
        display: inline;
        width:24px;
        height: 24px;
        background-image: url(menu_icon.svg);
    }
    .first_blok_container{
        margin: 0 40px 80px 40px;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    .first_blok_contant{
        max-width: none;
        width: 100%;
        padding:80px 0;
    }
    .first_page_header{
        max-width: none;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px; /* 125% */
        letter-spacing: -1.2px;
    }
    .first_page_text{
        max-width: none;
    }
    .first_blok_mobile{
        margin: auto;
    }
    .second_blok{
        padding: 16px 40px;
    }
    .second_page_logos{
        padding:0 ;
    }
    .second_big_text{
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px; /* 125% */
        letter-spacing: -0.9px;

    }
    .second_small_text{

        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 155.556% */
    }
    .trird_block{
        padding: 80px 40px;
    }
    .trird_block_container{
        margin-top: 64px;
        grid-template-columns: auto auto;
        row-gap: 64px;
        column-gap: 30px;
    }
    .trird_block_item{
        max-width: none;
    }
    .fourth_block{
        padding:120px 40px 80px 40px;
    }
    .real_story{
        max-width: 100%;
        margin-left: 0px;
        margin-top: 0px;
    }
    .real_header{
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px; /* 125% */
        letter-spacing: -0.9px; /* 133.333% */
    }
    .airbnb_store{
        margin-top: 40px;
        margin-left: 0px;
        max-width: none;
    }
    .content_airbnt_text{
        max-width: none;
    }
    .hubspot_item{
        margin-top: 24px;
        margin-left: 0px;
        max-width: none;
    }
    .hubspot_text{
        word-wrap: break-word;
        /* max-width: 239px; */
        max-width: none;
    }
    .strapi_item{
        max-width: none;
        margin-top: 24px;
        margin-left: 0px;
    }
    .strapi_content_text{
        /* max-width: 239px; */
        max-width: none;
    }
    .fifth_block{
        padding: 80px 40px;
        flex-direction: column;
        gap:48px;
    }
    .fifth_header{
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px; /* 125% */
        letter-spacing: -0.9px;
    }
    .fifth_block_text{
        max-width: auto;
    }
    .fifth_order{
        max-width: 100%;
    }
    .information_header{
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; 
    }
    .sixth_block{
        padding:80px 40px;
    }
    .sixth_block_content{
        max-width: none;
        padding: 20px 0;
    }
    .sixth_header{
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px; /* 125% */
        letter-spacing: -0.9px;
    }
    .sixth_logos{
        max-width: none;
        margin: 0 auto;
    }
    .circle{
        width: auto;
        height: auto;
    }
    #circle2{
        display: inline;
    }
    #circle1{
        display: none;
    }
    .logo_one{
        background-size: contain;
        width: 39.989px;
        height: 40.157px;
        top:25px;
        left:29px;
    }
    .logo_two{
        background-size: contain;
        width: 39.989px;
        height: 40.157px;
        top:25px;
        left:107px;
    }
    .logo_tree{
        background-size: contain;
        width: 39.989px;
        height: 40.157px;
        top:25px;
        left:187px;
    }
    .logo_four{
        background-size: contain;
        width: 39.989px;
        height: 40.157px;
        top:25px;
        left:266.9px;
    }
    .logo_five{
        background-size: contain;
        width: 39.989px;
        height: 40.157px;
        top:105px;
        left:69px;
    }
    .logo_six{
        background-size: contain;
        width: 39.989px;
        height: 40.157px;
        top:105px;
        left:148px;
    }
    .logo_seven{
        background-size: contain;
        width: 39.989px;
        height: 40.157px;
        top:105px;
        left:228px;
    }
    .seventh_block{
        padding: 80px 40px 0 40px;
        flex-direction: column;
        justify-content: start;
        gap:48px;
    }
    .seventh_content{
        max-width: none;

    }
    .seventh_header{
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px; /* 125% */
        letter-spacing: -0.9px;
    }
    .seventh_mobile{
        margin: auto;
        width: 100%;
        /* width: 688px; */
    }
    /* .mobile_2{
        margin-left: 408px;
    } */
    footer{
        padding: 64px 40px;
    }

}

/* Мобильная версия */
@media (max-width:767px) and (min-width:375px) {
    body{
        /* max-width: ; */
        width: 100%;
        margin: auto;
    }
    .start_page{
        padding: 16px 20px;
    }
    
    .app_google{
        display:none;
    }
    .app_store{
        display:none;
    }
    .first_blok_container{
        margin:8px 20px 80px 20px;
        gap:40px;
    }
    .first_blok_contant{
        padding: 40px 0px;
    }
    .first_blok_mobile{
        padding:0;
    }
    .first_page_header{
        font-size: 36px;
        line-height: 45px; /* 125% */
        letter-spacing: -0.9px;
    }
    .second_blok{
        padding: 16px 20px;
    }
    .second_page_logos{
        justify-content: center;
        align-items: start;
        
        /* max-height: 146px; */
    }
   
    .trird_block{
        padding: 48px 20px;
    }
    
    .trird_block_container{
        margin-top: 48px;
        grid-template-columns: auto;
        row-gap: 48px;
    }
    .fourth_block{
        padding: 80px 20px;
    }
    
    .real_header{
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; /* 133.333% */
    }

    .airbnb_store{
        margin-top: 32px;
    }
    
    .fifth_block{
        padding: 48px 20px;
    }
    .fifth_header{
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
    }
    .fifth_text{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
    .fifth_order{
        grid-template-columns: auto;
        row-gap: 24px;
    }
    .information_header{
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; 
    }
    .information_text{
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; 
    }
    .sixth_block{
        padding:40px 20px;
    }
    .sixth_block_border{
        flex-direction: column;
        gap: 16px;
    }
    .sixth_block_content{
        max-width: none;
        padding: 20px 0px;
    }
    .sixth_header{
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
    }
    .sixth_text{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
    }
    
    .seventh_block{
        padding: 48px 20px 0 20px;
        gap:32px;
    }
    .seventh_content{
        max-width: none;
    }
    .seventh_header{
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; 
    }
    .seventh_text{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
    .seventh_mobile{
        width:auto;
        height: 808px;
        margin: auto;
    }
    .mobile_1{
        margin-left:15.11px;
    }
    .mobile_2{
        margin-top:0px;
        margin-left:15.11px;
        margin-right: auto;
    }
    footer{
        padding: 40px 20px;
        flex-direction: column;
        gap:32px
    }
    .info_card{
        width: auto;
        height: auto;
    }
    
}


