.resume{
    display:flex;
    flex-direction: column;
    gap:20px
}
.formal_info{
    display:flex;
    justify-content: right;
}

.points{
    margin-left: 10px;
}

.bio{
    display: flex;
    justify-content: space-around;
    padding:50px 15%;
    gap:30px;
}

.text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    gap:20px;
    font-size: 15px;
    height: 100px;
    width:50%;
}

.name{
    font-size: 20px;
}


button{
    background-color: #ff5556;
    border:none;
    border-radius: 4px ;
}

.photo{
    background-image: url(https://sun9-64.userapi.com/impg/tGALXpZQymOWw6aj_UneppbZHycRFXD6bSsucA/YsjrooVFF_A.jpg?size=1620x2160&quality=96&sign=2b85e10b6e1ecd4db97ae3219080dad3&type=album);
    height: 250px;
    width: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
@media screen and (max-width:768px){


    .text{
        margin-top: 50px;
        width: 50%;
        font-size: 10px;
    }
    .name{
        font-size:12px;
    }
    .photo{
        height: 100px;
        width: 100px;
    }
}




